/* some style */
body {
 background-color:lightgray;
 text-align:center;
}
div.app {
    background-color:gray;
}
div.timer {
    font-size:800%;
}
div.clock {
    font-family:verdana;
    }
input {
    margin: 0px 0;
    width: 40px;
    box-sizing: border-box;
        padding: 12px 12px;
    border: 0px;

    background-color: dimgray;
    color: white;
}